<h1>Login</h1>
<div class="row">
    <form class="col s12">
        <div class="row">
            <div class="input-field col s6">
                <i class="material-icons prefix">email</i>
                <input id="mail" type="email" class="validate">
                <label for="mail">Email</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">vpn_key</i>
                <input id="password" type="password" class="validate">
                <label for="password">Passwort</label>
            </div>
            <div class="input-field col s6">
                <i class="material-icons prefix">vpn_key</i>
                <input id="reppassword" type="password" class="validate">
                <label for="reppassword">Passwort wiederhohlen</label>
            </div>
        </div>
    </form>
</div>
