<div id="changePassword" class="modal" ng-controller="ProfileController as profileCtrl">
    <div class="modal-content">
        <h4>Passwort ändern</h4>
        <p>Gib unten dein neues Passwort ein und bestätige es, so einfach geht das!</p>
        <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="password" type="password" class="validate" ng-model="profileCtrl.changePassword.password">
            <label for="password">Passwort</label>
        </div>
        <div class="input-field col s12">
            <i class="material-icons prefix">vpn_key</i>
            <input id="repassword" type="password" class="validate" ng-model="profileCtrl.changePassword.repassword">
            <label for="repassword">Passwort wiederhohlen</label>
        </div>
    </div>
    <div class="modal-footer">
        <button class="btn waves-effect waves-light" ng-click="profileCtrl.saveNewPassword()"><i class="material-icons">save</i></button>
    </div>
</div>