<script>
    $('.button-collapse').sideNav({
        closeOnClick: true
    });
</script>

<div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <ul class="right hide-on-med-and-down">
        <li><a ui-sref="overview">Übersicht</a></li>
        <li><a ui-sref="profile">Profil</a></li>
        <li><a ui-sref="login">Login</a></li>
        <li><a ui-sref="logout">Logout</a></li>
    </ul>
    <ul id="slide-out" class="side-nav">
        <li><a ui-sref="overview">Übersicht</a></li>
        <li><a ui-sref="profile">Profil</a></li>
        <li><a ui-sref="login">Login</a></li>
        <li><a ui-sref="logout">Logout</a></li>
    </ul>
    <a data-activates="slide-out" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
</div>