<div class="container" ng-controller="RegisterController as registerController">
    <h1>Registrieren</h1>
    <div class="row">
        <form class="col s12">
            <div class="row">
                <div class="input-field col s12">
                    <i class="material-icons prefix">email</i>
                    <input id="mail" type="email" class="validate" ng-model="registerController.email">
                    <label for="mail">Email</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="password" type="password" class="validate" ng-model="registerController.password">
                    <label for="password">Passwort</label>
                </div>
                <div class="input-field col s6">
                    <i class="material-icons prefix">vpn_key</i>
                    <input id="reppassword" type="password" class="validate" ng-model="registerController.repPassword">
                    <label for="reppassword">Passwort wiederhohlen</label>
                </div>
                <div class="col s12">
                    <p>
                        <input type="checkbox" id="terms-of-usage" ng-model="registerController.termsOfUsage"/>
                        <label for="terms-of-usage">Ich habe die <a ui-sref="terms-of-usage">Nutzungsbedingungen</a> gelesen und
                            akzeptiere diese.</label>
                    </p>
                </div>
            </div>
            <button class="btn waves-effect waves-light" type="submit" name="action" ng-click="registerController.register();">Registrieren
                <i class="material-icons right">send</i>
            </button>
        </form>
    </div>
</div>
